# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# Session and Data files
session.json
userdata/

# Environment variables
.env

# IDE files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Testing and debugging
login_error.png
